<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\CSS/style2.css">
    <title>Portal Acadêmico</title>
    
</head>
<body>
    <form method="POST">
        <div id="login">
            <div class="caixa">
                <img src="static\imagens/LOGOlOGIN.png" alt="LOGO">
                <h1>Login</h1>
                <div class="email">
                    <input type="email" name="email" placeholder="E-mail">
                </div>
                <div class="senha">
                    <input type="password" name="senha" placeholder="Senha">
                </div>
                <div class="entrar">
                    <input type="submit" value="Entrar">
                    <p id="mensagem">{{mensagem}}</p>
                    <p><a href="Cadastro.html" class="link-cadastro">Cadastro</a></p>
                    <p><a href="RecSenha.html">Esqueceu sua senha?</a></p>
                </div>
            </div>
        </div>
    </form>
</body>
</html>
